<header class="header">
  <h1>Cadastro de Ticket</h1>

  <div class="user-area">
    <span class="user-name">Olá, Usuário!</span>
    <i class="fa-solid fa-circle-user"></i>
  </div>
</header>
<!-- Conteúdo -->
<main class="content">
  <div class="card">
    <h2>{{ idTicketParaEdicao ? 'Editar Ticket' : 'Novo Ticket' }}</h2>

    <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="form">
      <div class="form-group">
        <label for="nome">Nome do Ticket: *</label>
        <input formControlName="nome" type="text" id="nome" name="nome" placeholder="Ex: Proteção Perimetral" />
        @if (form.controls.nome.hasError('required') && form.controls.nome.touched) {
        <span class="form-hint form-hint-error">O nome do ticket é obrigatório.</span>
        }
        @if (form.controls.nome.hasError('apiError')) {
        <span class="form-hint form-hint-error">
          {{ form.get('nome')?.errors?.['apiError'] }}
        </span>
        }
      </div>

      <div class="form-group">
        <label for="descricao">Descrição do Ticket: *</label>
        <input formControlName="descricao" type="text" id="descricao" placeholder="Ex: Instalação de 4 sensores IR" />
        @if (form.controls.descricao.hasError('required') && form.controls.descricao.touched) {
        <span class="form-hint form-hint-error">A descrição do ticket é obrigatória.</span>
        }
        @if (form.controls.descricao.hasError('apiError')) {
        <span class="form-hint form-hint-error">
          {{ form.get('descricao')?.errors?.['apiError'] }}
        </span>
        }
      </div>

      <div class="form-group">
        <label for="endereco">Endereço do Ticket: *</label>
        <input formControlName="endereco" type="text" id="endereco" placeholder="Ex: Endereço da Instalação" />

        @if (form.controls.endereco.hasError('required') && form.controls.endereco.touched) {
        <span class="form-hint form-hint-error">O endereço do ticket é obrigatório.</span>
        }
        @if (form.controls.endereco.hasError('apiError')) {
        <span class="form-hint form-hint-error">
          {{ form.get('endereco')?.errors?.['apiError'] }}
        </span>
        }
      </div>

      <div class="form-group">
        <label for="status">Status do Ticket: *</label>
        <select formControlName="status" id="status">
          <option value="">Selecione</option>
          <option value="PENDENTE">Pendente</option>
          <option value="ANDAMENTO">Andamento</option>
          <option value="CONCLUIDO">Concluído</option>
        </select>

        @if (form.controls.status.hasError('required') && form.controls.status.touched) {
        <span class="form-hint form-hint-error">O status do ticket é obrigatório.</span>
        }
        @if (form.controls.status.hasError('apiError')) {
        <span class="form-hint form-hint-error">
          {{ form.get('status')?.errors?.['apiError'] }}
        </span>
        }
      </div>

      <div class="form-group">
        <label for="ativo">Status Ticket: ativado/desativado:</label>
        <select formControlName="ativo" id="ativo">
          <option value="true">Ativado</option>
          <option value="false">Desativado</option>
        </select>

        @if (form.controls.ativo.hasError('required') && form.controls.ativo.touched) {
        <span class="form-hint form-hint-error">Ativado ou desativado é obrigatório.</span>
        }
        @if (form.controls.ativo.hasError('apiError')) {
        <span class="form-hint form-hint-error">
          {{ form.get('ativo')?.errors?.['apiError'] }}
        </span>
        }
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-primary">{{ idTicketParaEdicao ? 'Atualizar' : 'Salvar' }}</button>
        <button type="button" class="btn-secondary">Cancelar</button>
      </div>
    </form>
  </div>
</main>