<header class="header">
    <h1>Meus Tickets</h1>

    <div class="user-area">
        <span class="user-name">Olá, Usuário!</span>
        <i class="fa-solid fa-circle-user"></i>
    </div>
</header>

<main class="content">
    <div class="card-full">
        <h2>Listagem de Tickets</h2>
        <div class="table-card">

            @if(listagem$ | async; as listagem){
            <table class="datatable">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Endereço</th>
                        <th>Status</th>
                        <th>Ativo</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @for (ticket of listagem.content; track ticket.id) {
                    <tr>
                        <td>{{ ticket.nome }}</td>
                        <td>{{ ticket.descricao }}</td>
                        <td>{{ ticket.endereco }}</td>
                        <td>{{ ticket.status }}</td>
                        <td>
                            <span class="badge" [ngClass]="ticket.ativo ? 'badge-success' : 'badge-warning'">
                                {{ ticket.ativo ? 'Ativo' : 'Inativo' }}
                            </span>
                        </td>
                        <td class="text-center">
                            <button class="icon-btn" title="Editar">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="icon-btn" [ngClass]="ticket.ativo ? 'danger' : 'success'" (click)="null">
                                <i class="fa-solid" [ngClass]="ticket.ativo ? 'fa-ban' : 'fa-check'"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <!-- Paginação -->
            <div class="table-footer">
                <span>Mostrando {{ registroInicial(listagem) }} - {{ registroFinal(listagem) }} de {{
                    listagem.totalElements }} registros
                </span>

                <div class="pagination">
                    <button class="page-btn" [class.disabled]="listagem.first" (click)="navegarAnterior(listagem);" >
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    @for (pagina of paginas(listagem.totalPages); track pagina) {
                    <button class="page-btn" [class.active]="pagina === listagem.number" (click)="navegar(pagina)">
                        {{ pagina + 1 }}
                    </button>
                    }
                    <button class="page-btn" [class.disabled]="listagem.last" (click)="navegarProximo(listagem);">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            }
        </div>

    </div>

</main>